.giris {
  object-fit: cover;
  background: url(/img/background.jpeg) no-repeat 50% fixed;
  background-size: cover;
}

@media (min-width: 768px) {
  .giris {
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.google-form {
  width: 100%;
  height: calc(100vh - 60px);
  overflow-y: auto;
  border: "unset"
}

.giris-jumbotron {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0.8);
  padding: 25px;
  color: white;
}